@media print {
  body {
    margin: 0 !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    background: white !important;
  }

  @page {
    margin: 0;
    size: auto;
  }

  html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
